.center {
  display: flex;
  flex-direction: column;
  align-items: center; 
  }

  .rightAddEmployee{
    display: flex;
    justify-content: right;
    width: 500px;
  
  }

  .center-flex{
    display: flex;
    flex-direction: column;
    align-items: center; 
  }